# Ignore all *.ignore.* files
**/*.ignore.*

# Directories
.vscode/*
/target

# Files


# .env files
*.env
!example.env
!prod.env

# vscode config files
!.vscode/settings.json
!.vscode/extensions.json