# Ignore all *.ignore.* files
**/*.ignore.*

# Directories
node_modules/
.vscode/*
dist/
log/

# Files
.config/Horizon/config.json5

# .env files
*.env
!example.env

# vscode config files
!.vscode/settings.json
!.vscode/extensions.json
