name: PR

on:
  pull_request:
    types: 
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  test:
    if: ${{ github.event.pull_request.draft == false }}
    uses: ./.github/workflows/TEST.yml

  build:
    needs: [test]
    uses: ./.github/workflows/BUILD.yml
