# GitHub Actions workflow that creates a pre-release whenever the version in package.json is updated on a branch whose name starts with "release/".
name: Pre-Release

on:
  push:
    branches:
      - release/**
    paths:
      - package.json

permissions:
  contents: write

jobs:
  context:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.package-version.outputs.current-version }}
      tag_exists: ${{ steps.check-tag.outputs.exists }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1

      - name: Get Version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@3cf273023a0dda27efcd3164bdfb51908dd46a5b # 1.3.1

      - name: Check if tag exists
        id: check-tag
        uses: mukunku/tag-exists-action@5c39604fe8aef7e65acb6fbcf96ec580f7680313 # 1.7.0
        with:
          tag: 'v${{ steps.package-version.outputs.current-version }}'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  test:
    needs: [context]
    if: needs.context.outputs.tag_exists == 'false'
    uses: ./.github/workflows/TEST.yml

  build:
    needs: [context, test]
    if: needs.context.outputs.tag_exists == 'false'
    uses: ./.github/workflows/BUILD.yml

  pre-release:
    needs: [context, test, build]
    if: needs.context.outputs.tag_exists == 'false'
    uses: ./.github/workflows/RELEASE.yml
    with:
      environment: pre_release
      pre_release: true
      version: ${{ needs.context.outputs.version }}
